body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}
:root {
  --primary-color: #3545f5;
  --secondary-color: #848484;
  --text-color: #f2f2f2;
  --background-color: #7986ff;
}

.navbar {
  overflow: hidden;
  background-color: var(--background-color);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.brand, .right img:not(.notification) {
  color: var(--text-color);
  text-decoration: none;
  font-size: 30px;
  aspect-ratio: auto;
}

.left img {
  filter: invert(100%);
  width: 40px;
  height: auto;
  margin-right: 10px;
  transition: transform 0.4s, width 0.4s;
}

.left, .right {
  display: flex;
  align-items: center;
}

.center {
  flex-grow: 1;
  text-align: center;
}

.center input[type="text"] {
  width: 50%;
  padding: 10px;
  border:  2px var(--secondary-color) solid;
  border-radius: 12px;
  font-size: 15px;
  margin-right: 10px;
}

.center input[type="text"]:focus {
  outline: none;
}

.right a {
  color: var(--text-color);
  text-decoration: none;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 25px;
}

.right a:hover {
  color: var(--primary-color);
}

.right img:not(.notification) {
  filter: invert(100%);
  width: 40px;
  height: auto;
  margin-right: 20px;
  transition: transform 0.4s, width 0.4s;
}

.right img:hover, .left img:hover {
  color: var(--primary-color);
  transform: scale(1.2);
  filter: invert(20%);
}

.notification img {
  width: 40px;
  height: auto;
  align-items: right;
  aspect-ratio: auto;
  transition: transform 0.5s, width 0.5s;
  margin-right: 20px;
  margin-left: 10px;
}

@keyframes shake {
  0%, 100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
}

.posts-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}