<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="/bolt.svg"> 
    <title>reConnect</title>
</head>
<body>
    <!--nav bar-->
    <div class="navbar">
      <div class="left">
        <!-- <img src="bolt.svg" alt="bolt">
        <a href="/home" class="brand">ReConnect</a> -->
        <button id="home-button" class="icon-button">
          <img src="bolt.svg" alt="home">
        </button>
        <a href="/home" class="brand">reConnect</a>
      </div>
      <div class="center">
        <input id="searchBar" type="text" placeholder="Search...">
        <!-- <img id="searchButton" src="magnifier.svg" alt="magnifier"> -->
        <div class="search">
          <button id="search-button" class="icon-button">
            <img src="magnifier.svg" alt="magnifier">
          </button>
        </div>
      </div>
      <div class="right">
        <!--post button-->
        <button id="post-button" class="icon-button">
          <img src="add.svg" alt="add">
        </button>
        <!--notification button-->
        <!--TODO: Add notification dropdown-->
          <div class="notification">
            <button id="notification-button" class="icon-button">
              <img src="bell.svg" alt="bell">

          </div>
          <a href="/friends" id="friendsButton">Friends</a>
          <a href="/profile" id="profileButton">Profile</a>
      </div>
    </div>

    <div class="wrapper">
      <div class="left-sidebar">

      </div>

      <div class="middle-section">
        
        <div class="posts-container">
          <div class="post" id="post1">
            <!-- <h2>Post ID: <%= post.ID %></h2> -->
            <h2 id="author1">Loading...</h2>
            <p id="content1">Loading...</p>
            <div class="buttons">
              <button class="like-button" id="likeButton1">
                <img src="like.svg" alt="Like">
                <span id="likes1">Loading...</span>
              </button>
              <button class="comment-button" id="addCommentButton1">
                <img src="comment.svg" alt="Comment">
              </button>
              <button class="share-button" id="shareButton1">
                <img src="share.svg" alt="Share">
                <span id="shares1">Loading...</span>
              </button>
            </div>
            <div class="comments">
              <h3>Comments <a href="#" id="commentButton1"></a></h3>
              <ul id="post1comments">
                <!-- <li><%= comment %></li> -->
              </ul>
            </div>
          </div>
          <div class="post" id="post2">
            <!-- <h2>Post ID: <%= 1 %></h2> -->
            <h2 id="author2">Loading...</h2>
            <p id="content2">Loading...</p>
            <div class="buttons">
              <button class="like-button" id="likeButton2">
                <img src="like.svg" alt="Like">
                <span id="likes2">Loading...</span>
              </button>
              <button class="comment-button" id="addCommentButton2">
                <img src="comment.svg" alt="Comment">
              </button>
              <button class="share-button" id="shareButton2">
                <img src="share.svg" alt="Share">
                <span id="shares2">Loading...</span>
              </button>
            </div>
            <div class="comments">
              <h3>Comments <a href="#" id="commentButton2"></a></h3>
              <ul id="post2comments">
                <!-- <li><%= comment %></li> -->
              </ul>
            </div>
          </div>
          <div class="post" id="post3">
            <!-- <h2>Post ID: <%= post.ID %></h2> -->
            <h2 id="author3">Loading...</h2>
            <p id="content3">Loading...</p>
            <div class="buttons">
              <button class="like-button" id="likeButton3">
                <img src="like.svg" alt="Like">
                <span id="likes3">Loading...</span>
              </button>
              <button class="comment-button" id="addCommentButton3">
                <img src="comment.svg" alt="Comment">
              </button>
              <button class="share-button" id="shareButton3">
                <img src="share.svg" alt="Share">
                <span id="shares3">Loading...</span>
              </button>
            </div>
            <div class="comments">
              <h3>Comments <a href="#" id="commentButton3"></a></h3>
              <ul id="post3comments">
                <!-- <li><%= comment %></li> -->
              </ul>
            </div>
          </div>
          <div class="post" id="post4">
            <!-- <h2>Post ID: <%= post.ID %></h2> -->
            <h2 id="author4">Loading...</h2>
            <p id="content4">Loading...</p>
            <div class="buttons">
              <button class="like-button" id="likeButton4">
                <img src="like.svg" alt="Like">
                <span id="likes4">Loading...</span>
              </button>
              <button class="comment-button" id="addCommentButton4">
                <img src="comment.svg" alt="Comment">
              </button>
              <button class="share-button" id="shareButton4">
                <img src="share.svg" alt="Share">
                <span id="shares4">Loading...</span>
              </button>
            </div>
            <div class="comments">
              <h3>Comments <a href="#" id="commentButton4"></a></h3>
              <ul id="post4comments">
                <!-- <li><%= comment %></li> -->
              </ul>
            </div>
          </div>
          <div class="post" id="post5">
            <!-- <h2>Post ID: <%= post.ID %></h2> -->
            <h2 id="author5">Loading...</h2>
            <p id="content5">Loading...</p>
            <div class="buttons">
              <button class="like-button" id="likeButton5">
                <img src="like.svg" alt="Like">
                <span id="likes5">Loading...</span>
              </button>
              <button class="comment-button" id="addCommentButton5">
                <img src="comment.svg" alt="Comment">
              </button>
              <button class="share-button" id="shareButton5">
                <img src="share.svg" alt="Share">
                <span id="shares5">Loading...</span>
              </button>
            </div>
            <div class="comments">
              <h3>Comments <a href="#" id="commentButton5"></a></h3>
              <ul id="post5comments">
                <!-- <li><%= comment %></li> -->
              </ul>
            </div>
          </div>
        </div>
        </div>
        </div>
         </div>
      </div>

      <div class="right-sidebar" style="margin-right: 30px;">
        <div class="popup-content" id="popupBackground" style="height: 200px;margin-bottom: 15px;margin-top: 50px;display: block;">
          <!-- Notifications -->
          <div id="notificationsMenu" style="display: none;">
            <div class="popup-header">
              <h2 style="padding-top: 15px;padding-left: 15px;">Notifications</h2>
              <a class="close" style="align-items: right;" id="notifCloseButton">X</a>
            </div>
            <div class="popup-body">
              <ul>
                <li id="requestNotif1li" style="display: none;padding-left: 17px;"><h3 id="requestNotif1" href="#">Loading...</h3><a>  </a><a id="acceptRequest1" href="#">Accept</a><a>  </a><a id="declineRequest1" href="#">Decline</a></li>
                <li id="requestNotif2li" style="display: none;padding-left: 17px;"><h3 id="requestNotif2" href="#">Loading...</h3><a>  </a><a id="acceptRequest2" href="#">Accept</a><a>  </a><a id="declineRequest2" href="#">Decline</a></li>
                <li id="requestNotif3li" style="display: none;padding-left: 17px;"><h3 id="requestNotif3" href="#">Loading...</h3><a>  </a><a id="acceptRequest3" href="#">Accept</a><a>  </a><a id="declineRequest3" href="#">Decline</a></li>
                <li id="requestNotif4li" style="display: none;padding-left: 17px;"><h3 id="requestNotif4" href="#">Loading...</h3><a>  </a><a id="acceptRequest4" href="#">Accept</a><a>  </a><a id="declineRequest4" href="#">Decline</a></li>
                <li id="requestNotif5li" style="display: none;padding-left: 17px;"><h3 id="requestNotif5" href="#">Loading...</h3><a>  </a><a id="acceptRequest5" href="#">Accept</a><a>  </a><a id="declineRequest5" href="#">Decline</a></li>
              </ul>
            </div>
          </div>

          <!-- Create Post -->
          <div id="createPostMenu" style="display: block;padding-left: 15px;padding-top: 3px;padding-right: 30px;">
            <div class="popup-header">
              <h2>Cook Here</h2>
              <a class="close" style="align-items: right;margin-top: 52px;" id="createPostCloseButton">X</a>
            </div>
            <div class="popup-body">
              <textarea id="newPostContent" name="newPostContent" placeholder="Content" cols="40" style="
                    height: 70px;
                    margin-bottom: 9px;
                "
              ></textarea>
              <button id="createPostSubmitButton">Create Post</button>
            </div> 
          </div>

          <!-- Create Comment -->
          <div id="createCommentMenu" style="display: none;">
            <div class="popup-header">
              <h2>Add a Comment</h2>
              <a class="close" style="align-items: right;" id="createCommentCloseButton">X</a>
            </div>
            <div class="popup-body">
              <p id="newCommentError" style="display: none;">Invalid comment.</p>
              <textarea id="newCommentContent" name="newCommentContent" placeholder="Comment" cols="40"></textarea>
              <button id="createCommentSubmitButton">Add Comment</button>
            </div>
          </div>

          <!-- Share Post -->
          <div id="sharePostMenu" style="display: none;">
            <div class="popup-header">
              <h2>Share a Post</h2>
              <a class="close" style="align-items: right;" id="sharePostCloseButton">X</a>
            </div>
            <div class="popup-body" id="sharePostMenu">
              <ul>
                <li id="friend1li" style="display: none;"><a id="friend1" href="#">Loading...</a></li>
                <li id="friend2li" style="display: none;"><a id="friend2" href="#">Loading...</a></li>
                <li id="friend3li" style="display: none;"><a id="friend3" href="#">Loading...</a></li>
                <li id="friend4li" style="display: none;"><a id="friend4" href="#">Loading...</a></li>
                <li id="friend5li" style="display: none;"><a id="friend5" href="#">Loading...</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

<script src="/socket.io/socket.io.js"></script>
   <script type="text/javascript">
      // now we're cooking
      let socket = io();

      let currentPosts = new Array();
      let workingPost = -1;
      let currentLikeCounts = new Array();
      let currentShareCounts = new Array();
      let currentResults = new Array();
      let currentNotifs = new Array();

      // variable init
      let profileButton = document.getElementById("profileButton");
      profileButton.addEventListener("click", (evt)=>{
        socket.emit("nextProfile", "ownProfile");
      });

      let searchButton = document.getElementById("search-button");
      let searchTerm = document.getElementById("searchBar").value;
      searchButton.addEventListener("click", (evt)=>{
        searchTerm = document.getElementById("searchBar").value;
        location.href = "/results";
        socket.emit("search request", searchTerm);
      });

      let post1 = document.getElementById("post1");
      let post2 = document.getElementById("post2");
      let post3 = document.getElementById("post3");
      let post4 = document.getElementById("post4");
      let post5 = document.getElementById("post5");

      let author1 = document.getElementById("author1");
      let author2 = document.getElementById("author2");
      let author3 = document.getElementById("author3");
      let author4 = document.getElementById("author4");
      let author5 = document.getElementById("author5");

      let content1 = document.getElementById("content1");
      let content2 = document.getElementById("content2");
      let content3 = document.getElementById("content3");
      let content4 = document.getElementById("content4");
      let content5 = document.getElementById("content5");

      // let likes1 = document.getElementById("likes1");
      // let likes2 = document.getElementById("likes2");
      // let likes3 = document.getElementById("likes3");
      // let likes4 = document.getElementById("likes4");
      // let likes5 = document.getElementById("likes5");

      let likeButton1 = document.getElementById("likeButton1");
      let likeButton2 = document.getElementById("likeButton2");
      let likeButton3 = document.getElementById("likeButton3");
      let likeButton4 = document.getElementById("likeButton4");
      let likeButton5 = document.getElementById("likeButton5");

      likeButton1.addEventListener("click", (evt)=>{
        socket.emit("like request", currentPosts[0]);
        let likeIcon = likes1.querySelector('.like-button');
        likeIcon.classList.toggle('liked');
      });
      likeButton2.addEventListener("click", (evt)=>{
        socket.emit("like request", currentPosts[1]);
        let likeIcon = likes2.querySelector('.like-button');
        likeIcon.classList.toggle('liked');
      });
      likeButton3.addEventListener("click", (evt)=>{
        socket.emit("like request", currentPosts[2]);
        let likeIcon = likes3.querySelector('.like-button');
        likeIcon.classList.toggle('liked');
      });
      likeButton4.addEventListener("click", (evt)=>{
        socket.emit("like request", currentPosts[3]);
        let likeIcon = likes4.querySelector('.like-button');
        likeIcon.classList.toggle('liked');
      });
      likeButton5.addEventListener("click", (evt)=>{
        socket.emit("like request", currentPosts[4]);
        let likeIcon = likes5.querySelector('.like-button');
        likeIcon.classList.toggle('liked');
      });

    document.addEventListener('DOMContentLoaded', (event) => {
      // Retrieve the liked posts from localStorage
      let likedPosts = JSON.parse(localStorage.getItem('likedPosts')) || [];

      // Get all the like buttons
      let likeButtons = document.querySelectorAll('.like-button');

      // For each like button...
      likeButtons.forEach((button, i) => {
        // If the user has liked this post...
        if (likedPosts.includes(i)) {
          // Change the src of the img element to liked.svg
          let img = button.querySelector('img');
          img.src = 'liked.svg';
        }

        // When the button is clicked...
        button.addEventListener('click', () => {
          // Toggle the liked state
          if (likedPosts.includes(i)) {
            likedPosts = likedPosts.filter(index => index !== i);
            button.querySelector('img').src = 'like.svg';
          } else {
            likedPosts.push(i);
            button.querySelector('img').src = 'liked.svg';
          }

          // Store the updated liked posts in localStorage
          localStorage.setItem('likedPosts', JSON.stringify(likedPosts));
        });
      });
  });

      // likes1.addEventListener("click", (evt)=>{
      //   socket.emit("like request", currentPosts[0]);
      //   let likeIcon = likes1.querySelector('.like-button');
      //   likeIcon.classList.toggle('liked');
      // });
      // likes2.addEventListener("click", (evt)=>{
      //   socket.emit("like request", currentPosts[1]);
      //   let likeIcon = likes2.querySelector('.like-button');
      //   likeIcon.classList.toggle('liked');
      // });
      // likes3.addEventListener("click", (evt)=>{
      //   socket.emit("like request", currentPosts[2]);
      //   let likeIcon = likes3.querySelector('.like-button');
      //   likeIcon.classList.toggle('liked');
      // });
      // likes4.addEventListener("click", (evt)=>{
      //   socket.emit("like request", currentPosts[3]);
      //   let likeIcon = likes4.querySelector('.like-button');
      //   likeIcon.classList.toggle('liked');
      // });
      // likes5.addEventListener("click", (evt)=>{
      //   socket.emit("like request", currentPosts[4]);
      //   let likeIcon = likes5.querySelector('.like-button');
      //   likeIcon.classList.toggle('liked');
      // });

      let shares1 = document.getElementById("shares1");
      let shares2 = document.getElementById("shares2");
      let shares3 = document.getElementById("shares3");
      let shares4 = document.getElementById("shares4");
      let shares5 = document.getElementById("shares5");

      shares1.addEventListener("click", (evt)=>{
        sharePostMenu.style.display = "block";
        popupBackground.style.display = "block";
        workingPost = 0;
        socket.emit("search request", "friends");
        socket.emit("need to share");
      });
      shares2.addEventListener("click", (evt)=>{
        sharePostMenu.style.display = "block";
        popupBackground.style.display = "block";
        workingPost = 1;
        socket.emit("search request", "friends");
        socket.emit("need to share");
      });
      shares3.addEventListener("click", (evt)=>{
        sharePostMenu.style.display = "block";
        popupBackground.style.display = "block";
        workingPost = 2;
        socket.emit("search request", "friends");
        socket.emit("need to share");
      });
      shares4.addEventListener("click", (evt)=>{
        sharePostMenu.style.display = "block";
        popupBackground.style.display = "block";
        workingPost = 3;
        socket.emit("search request", "friends");
        socket.emit("need to share");
      });
      shares5.addEventListener("click", (evt)=>{
        sharePostMenu.style.display = "block";
        popupBackground.style.display = "block";
        workingPost = 4;
        socket.emit("search request", "friends");
        socket.emit("need to share");
      });

      let sharePostCloseButton = document.getElementById("sharePostCloseButton");
      sharePostCloseButton.addEventListener("click", (evt)=>{
        sharePostMenu.style.display = "none";
        popupBackground.style.display = "none";
        workingPost = -1;
      });

      let friend1 = document.getElementById("friend1");
      let friend2 = document.getElementById("friend2");
      let friend3 = document.getElementById("friend3");
      let friend4 = document.getElementById("friend4");
      let friend5 = document.getElementById("friend5");

      let friend1li = document.getElementById("friend1li");
      let friend2li = document.getElementById("friend2li");
      let friend3li = document.getElementById("friend3li");
      let friend4li = document.getElementById("friend4li");
      let friend5li = document.getElementById("friend5li");
      friend1li.style.display = "none";
      friend2li.style.display = "none";
      friend3li.style.display = "none";
      friend4li.style.display = "none";
      friend5li.style.display = "none";

      friend1.addEventListener("click", (evt)=>{
        socket.emit("share request", currentPosts[workingPost]);
      });
      friend2.addEventListener("click", (evt)=>{
        socket.emit("share request", currentPosts[workingPost]);
      });
      friend3.addEventListener("click", (evt)=>{
        socket.emit("share request", currentPosts[workingPost]);
      });
      friend4.addEventListener("click", (evt)=>{
        socket.emit("share request", currentPosts[workingPost]);
      });
      friend5.addEventListener("click", (evt)=>{
        socket.emit("share request", currentPosts[workingPost]);
      });

      let post1comments = document.getElementById("post1comments");
      let post2comments = document.getElementById("post2comments");
      let post3comments = document.getElementById("post3comments");
      let post4comments = document.getElementById("post4comments");
      let post5comments = document.getElementById("post5comments");

      let addCommentButton1 = document.getElementById("addCommentButton1");
      let addCommentButton2 = document.getElementById("addCommentButton2");
      let addCommentButton3 = document.getElementById("addCommentButton3");
      let addCommentButton4 = document.getElementById("addCommentButton4");
      let addCommentButton5 = document.getElementById("addCommentButton5");

      addCommentButton1.addEventListener("click", (evt)=>{
        createCommentMenu.style.display = "block";
        popupBackground.style.display = "block";
        workingPost = 0;
      });
      addCommentButton2.addEventListener("click", (evt)=>{
        createCommentMenu.style.display = "block";
        popupBackground.style.display = "block";
        workingPost = 1;
      });
      addCommentButton3.addEventListener("click", (evt)=>{
        createCommentMenu.style.display = "block";
        popupBackground.style.display = "block";
        workingPost = 2;
      });
      addCommentButton4.addEventListener("click", (evt)=>{
        createCommentMenu.style.display = "block";
        popupBackground.style.display = "block";
        workingPost = 3;
      });
      addCommentButton5.addEventListener("click", (evt)=>{
        createCommentMenu.style.display = "block";
        popupBackground.style.display = "block";
        workingPost = 4;
      });

      let createCommentCloseButton = document.getElementById("createCommentCloseButton");
      createCommentCloseButton.addEventListener("click", (evt)=>{
        createCommentMenu.style.display = "none";
        popupBackground.style.display = "none";
        workingPost = -1;
      });
      let newCommentContent = document.getElementById("newCommentContent").value;
      let newCommentError = document.getElementById("newCommentError");
      newCommentError.style.display = "none";
      let createCommentSubmitButton = document.getElementById("createCommentSubmitButton");
      createCommentSubmitButton.addEventListener("click", (evt)=>{
        newCommentContent = document.getElementById("newCommentContent").value;
        // console.log("clicked");
        if(newCommentContent == ""){
          // display error, comment can't be empty
          newCommentError.style.display = "block";
          return;
        }
        socket.emit("comment request", [currentPosts[workingPost], newCommentContent]);
      });

      // button handlers
      let notifButton = document.getElementById("notification-button");
      let createButton = document.getElementById("post-button");
      let friendsButton = document.getElementById("friendsButton");

      notifButton.addEventListener("click", (evt)=>{
        socket.emit("need notifications");
        createPostMenu.style.display = "none";
        notificationsMenu.style.display = "block";
        popupBackground.style.display = "block";
      });
      let notifCloseButton = document.getElementById("notifCloseButton");
      notifCloseButton.addEventListener("click", (evt)=>{
        notificationsMenu.style.display = "none";
        popupBackground.style.display = "none";
        workingPost = -1;
      });
      
      /* dark mode!!! */
      let savedTheme = localStorage.getItem('theme');
      if (savedTheme) {
        document.body.classList.add(savedTheme);
      }
      let logoButton = document.querySelector("#home-button");
      logoButton.addEventListener("click", (evt)=> {
        document.body.classList.toggle("dark-theme");
        let theme = document.body.classList.contains("dark-theme") ? "dark-theme" : null;
        localStorage.setItem("theme", theme);
      });


      let requestNotif1 = document.getElementById("requestNotif1");
      let requestNotif2 = document.getElementById("requestNotif2");
      let requestNotif3 = document.getElementById("requestNotif3");
      let requestNotif4 = document.getElementById("requestNotif4");
      let requestNotif5 = document.getElementById("requestNotif5");
      let requestNotif1li = document.getElementById("requestNotif1li");
      let requestNotif2li = document.getElementById("requestNotif2li");
      let requestNotif3li = document.getElementById("requestNotif3li");
      let requestNotif4li = document.getElementById("requestNotif4li");
      let requestNotif5li = document.getElementById("requestNotif5li");
      requestNotif1li.style.display = "none";
      requestNotif2li.style.display = "none";
      requestNotif3li.style.display = "none";
      requestNotif4li.style.display = "none";
      requestNotif5li.style.display = "none";

      let acceptRequest1 = document.getElementById("acceptRequest1");
      let acceptRequest2 = document.getElementById("acceptRequest2");
      let acceptRequest3 = document.getElementById("acceptRequest3");
      let acceptRequest4 = document.getElementById("acceptRequest4");
      let acceptRequest5 = document.getElementById("acceptRequest5");

      acceptRequest1.addEventListener("click", (evt)=>{
        socket.emit("accept request", currentNotifs[0]);
        notificationsMenu.style.display = "none";
        popupBackground.style.display = "none";
        document.location.reload(true);

      });
      acceptRequest2.addEventListener("click", (evt)=>{
        socket.emit("accept request", currentNotifs[1]);
        notificationsMenu.style.display = "none";
        popupBackground.style.display = "none";
        document.location.reload(true);
      });
      acceptRequest3.addEventListener("click", (evt)=>{
        socket.emit("accept request", currentNotifs[2]);
        notificationsMenu.style.display = "none";
        popupBackground.style.display = "none";
        document.location.reload(true);
      });
      acceptRequest4.addEventListener("click", (evt)=>{
        socket.emit("accept request", currentNotifs[3]);
        notificationsMenu.style.display = "none";
        popupBackground.style.display = "none";
        document.location.reload(true);
      });
      acceptRequest5.addEventListener("click", (evt)=>{
        socket.emit("accept request", currentNotifs[4]);
        notificationsMenu.style.display = "none";
        popupBackground.style.display = "none";
        document.location.reload(true);
      });

      let declineRequest1 = document.getElementById("declineRequest1");
      let declineRequest2 = document.getElementById("declineRequest2");
      let declineRequest3 = document.getElementById("declineRequest3");
      let declineRequest4 = document.getElementById("declineRequest4");
      let declineRequest5 = document.getElementById("declineRequest5");

      declineRequest1.addEventListener("click", (evt)=>{
        socket.emit("decline request", currentNotifs[0]);
        notificationsMenu.style.display = "none";
        popupBackground.style.display = "none";
        document.location.reload(true);
      });
      declineRequest2.addEventListener("click", (evt)=>{
        socket.emit("decline request", currentNotifs[1]);
        notificationsMenu.style.display = "none";
        popupBackground.style.display = "none";
        document.location.reload(true);
      });
      declineRequest3.addEventListener("click", (evt)=>{
        socket.emit("decline request", currentNotifs[2]);
        notificationsMenu.style.display = "none";
        popupBackground.style.display = "none";
        document.location.reload(true);
      });
      declineRequest4.addEventListener("click", (evt)=>{
        socket.emit("decline request", currentNotifs[3]);
        notificationsMenu.style.display = "none";
        popupBackground.style.display = "none";
        document.location.reload(true);
      });
      declineRequest5.addEventListener("click", (evt)=>{
        socket.emit("decline request", currentNotifs[4]);
        notificationsMenu.style.display = "none";
        popupBackground.style.display = "none";
        document.location.reload(true);
      });

      createButton.addEventListener("click", (evt)=>{
        
        notificationsMenu.style.display = "none";
        createPostMenu.style.display = "block";
        popupBackground.style.display = "block";
      });
      let createPostCloseButton = document.getElementById("createPostCloseButton");
      createPostCloseButton.addEventListener("click", (evt)=>{
        notificationsMenu.style.display = "none";
        createPostMenu.style.display = "none";
        popupBackground.style.display = "none";
      });

      let createPostSubmitButton = document.getElementById("createPostSubmitButton");
      let newPostContent = document.getElementById("newPostContent").value;
      createPostSubmitButton.addEventListener("click", (evt)=>{
        newPostContent = document.getElementById("newPostContent").value;
        notificationsMenu.style.display = "none";
        if(newPostContent == ""){
          // error message, can't have an empty post
          return;
        }
        else{
          socket.emit("create post request", newPostContent);
        }
      });

      friendsButton.addEventListener("click", (evt)=>{
        socket.emit("search request", "friends");
        location.href = "/friends";
      });

      let notificationsMenu = document.getElementById("notificationsMenu");
      notificationsMenu.style.display = "none";
      let createPostMenu = document.getElementById("createPostMenu");
      createPostMenu.style.display = "none";
      let createCommentMenu = document.getElementById("createCommentMenu");
      createCommentMenu.style.display = "none";
      // let editPostMenu = document.getElementById("editPostMenu");
      // editPostMenu.style.display = "none";
      let sharePostMenu = document.getElementById("sharePostMenu");
      sharePostMenu.style.display = "none";
      let popupBackground = document.getElementById("popupBackground");
      popupBackground.style.display = "none";


      // bring in the posts!
      socket.emit('need posts', '');

      socket.on("herePosts", (data)=>{
        // the data you get is in this format:
        // [[postID, username, content, likes, shares], [comment1, comment2, ...], ...] and so on for each post

        // hide posts as default
        post1.style.display = "none";
        post2.style.display = "none";
        post3.style.display = "none";
        post4.style.display = "none";
        post5.style.display = "none";

        for(let i = 0; i < data.posts.length; i+=2){
          // grab the post ID
          currentPosts.push(data.posts[i][0]);
          currentLikeCounts.push(data.posts[i][3].length);
          currentShareCounts.push(data.posts[i][4]);
          // first post
          if(i == 0){
            post1.style.display = "block";
            author1.innerText = data.posts[i][1];
            content1.innerText = data.posts[i][2];
            likes1.innerText = data.posts[i][3].length;
            shares1.innerText = data.posts[i][4];
            for(let j = 0; j < data.posts[i+1].length; j++){
              // append comments to the div
              let li = document.createElement("li");
              li.appendChild(document.createTextNode(data.posts[i+1][j]));
              post1comments.appendChild(li);
            }

          }
          // second post
          else if(i == 2){
            post2.style.display = "block";
            author2.innerText = data.posts[i][1];
            content2.innerText = data.posts[i][2];
            likes2.innerText = data.posts[i][3].length;
            shares2.innerText = data.posts[i][4];
            for(let j = 0; j < data.posts[i+1].length; j++){
              // append comments to the div
              let li = document.createElement("li");
              li.appendChild(document.createTextNode(data.posts[i+1][j]));
              post2comments.appendChild(li);
            }
          }
          // third post
          else if(i == 4){
            post3.style.display = "block";
            author3.innerText = data.posts[i][1];
            content3.innerText = data.posts[i][2];
            likes3.innerText = data.posts[i][3].length;
            shares3.innerText = data.posts[i][4];
            for(let j = 0; j < data.posts[i+1].length; j++){
              // append comments to the div
              let li = document.createElement("li");
              li.appendChild(document.createTextNode(data.posts[i+1][j]));
              post3comments.appendChild(li);
            }
          }
          // fourth post
          else if(i == 6){
            post4.style.display = "block";
            author4.innerText = data.posts[i][1];
            content4.innerText = data.posts[i][2];
            likes4.innerText = data.posts[i][3].length;
            shares4.innerText = data.posts[i][4];
            for(let j = 0; j < data.posts[i+1].length; j++){
              // append comments to the div
              let li = document.createElement("li");
              li.appendChild(document.createTextNode(data.posts[i+1][j]));
              post4comments.appendChild(li);
            }
          }
          // fifth post
          else if(i == 8){
            post5.style.display = "block";
            author5.innerText = data.posts[i][1];
            content5.innerText = data.posts[i][2];
            likes5.innerText = data.posts[i][3].length;
            shares5.innerText = data.posts[i][4];
            for(let j = 0; j < data.posts[i+1].length; j++){
              // append comments to the div
              let li = document.createElement("li");
              li.appendChild(document.createTextNode(data.posts[i+1][j]));
              post5comments.appendChild(li);
            }
          }
        }
        
      });

      socket.on("like result", (data)=>{
        if(data[0] == "true"){
          if(data[1] == currentPosts[0]){
            currentLikeCounts[0]++;
            likes1.innerText = currentLikeCounts[0];
          }
          else if(data[1] == currentPosts[1]){
            currentLikeCounts[1]++;
            likes2.innerText = currentLikeCounts[1];
          }
          else if(data[1] == currentPosts[2]){
            currentLikeCounts[2]++;
            likes3.innerText = currentLikeCounts[2];
          }
          else if(data[1] == currentPosts[3]){
            currentLikeCounts[3]++;
            likes4.innerText = currentLikeCounts[3];
          }
          else if(data[1] == currentPosts[4]){
            currentLikeCounts[4]++;
            likes5.innerText = currentLikeCounts[4];
          }
          else{
            console.log("failed to like post");
          }
        }
        else{
          console.log("couldn't like post")
        }
      });

      socket.on("share result", (data)=>{
        if(data[0] == "true"){
          sharePostMenu.style.display = "none";
          popupBackground.style.display = "none";
          workingPost = -1;
          if(data[1] == currentPosts[0]){
            currentShareCounts[0]++;
            shares1.innerText = currentShareCounts[0];
          }
          else if(data[1] == currentPosts[1]){
            currentShareCounts[1]++;
            shares2.innerText = currentShareCounts[1];
          }
          else if(data[1] == currentPosts[2]){
            currentShareCounts[2]++;
            shares3.innerText = currentShareCounts[2];
          }
          else if(data[1] == currentPosts[3]){
            currentShareCounts[3]++;
            shares4.innerText = currentShareCounts[3];
          }
          else if(data[1] == currentPosts[4]){
            currentShareCounts[4]++;
            shares5.innerText = currentShareCounts[4];
          }
          else{
            console.log("failed to share post");
          }
        }
        else{
          console.log("couldn't share post")
        }
      });

      socket.on("comment result", (data)=>{
        if(data == "true"){
          let li = document.createElement("li");
          li.appendChild(document.createTextNode(newCommentContent));
          if(workingPost == 0){
            post1comments.appendChild(li);
          }
          else if(workingPost == 1){
            post2comments.appendChild(li);
          }
          else if(workingPost == 2){
            post3comments.appendChild(li);
          }
          else if(workingPost == 3){
            post4comments.appendChild(li);
          }
          else if(workingPost == 4){
            post5comments.appendChild(li);
          }
          createCommentMenu.style.display = "none";
          popupBackground.style.display = "none";
          setTimeout(()=>{
            workingPost = 0;
          }, 15);
        }
        else{
          newCommentError.style.display = "block";
        }
      });

      socket.on("here friends", (data)=>{
        for(let i = 0; i < data.length; i++){
          // keep track of current displayed users with their IDs
          currentResults[i] = data[i][0];
          // display results (top 5 for now)
          if(i == 0){
            friend1.innerText = data[i][1];
            friend1li.style.display = "block";
          }
          else if(i == 1){
            friend2.innerText = data[i][1];
            friend2li.style.display = "block";
          }
          else if(i == 2){
            friend3.innerText = data[i][1];
            friend3li.style.display = "block";
          }
          else if(i == 3){
            friend4.innerText = data[i][1];
            friend4li.style.display = "block";
          }
          else if(i == 4){
            friend5.innerText = data[i][1];
            friend5li.style.display = "block";
          }
          
        }
      });

      socket.on("here notifications", (data)=>{
        for(let i = 0; i < data.length; i++){
          // data is [[id1, username1], [id2, username2]...]
          // keep track of current displayed users with their IDs
          currentNotifs[i] = data[i][0];
          // display results (top 5 for now)
          if(i == 0){
            requestNotif1.innerText = data[i][1];
            requestNotif1li.style.display = "block";
          }
          else if(i == 1){
            requestNotif2.innerText = data[i][1];
            requestNotif2li.style.display = "block";
          }
          else if(i == 2){
            requestNotif3.innerText = data[i][1];
            requestNotif3li.style.display = "block";
          }
          else if(i == 3){
            requestNotif4.innerText = data[i][1];
            requestNotif4li.style.display = "block";
          }
          else if(i == 4){
            requestNotif5.innerText = data[i][1];
            requestNotif5li.style.display = "block";
          }
          
        }
      });

      socket.on("create post result", (data)=>{
        if(data == "true"){
          createPostMenu.style.display = "none";
          popupBackground.style.display = "none";
          // in profile, refresh
        }
        else{
          // error
        }
      });

   </script>
</script>
</body>

</html>