<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Social Media Website</title>
</head>
<body>
    <!--nav bar-->
    <div class="navbar">
      <div class="left">
        <img src="bolt.svg" alt="bolt">
        <a href="/home" class="brand">ReConnect</a>
      </div>
      <div class="center">
          <input type="text" placeholder="Search...">
          
      </div>
      <div class="right">
          <img src="add.svg" alt="add">
          <a href="#">Friends</a>
          <a href="/profile">Profile</a>
          
      </div>
    </div>

    <div class="wrapper">
      <div class="left-sidebar">

      </div>

      <div class="middle-section">
        <div class= "profile-information">
          <div class="userinfo">
            <img width="100" height="100" src="https://img.icons8.com/ios/100/test-account.png" alt="test-account"/>
            <h2>Username: <%= User.username><h2>
          </div>
        </div>
        <div class="posts-container">
            <div class="post">
              <h2>Post ID: <%= post.ID %></h2>
              <p>Author: <%= post.author %></p>
              <p>Content: <%= post.content %></p>
              <p>Likes: <%= post.likes %></p>
              <p>Shares: <%= post.shares %></p>
                <div class="comments">
                  <h3>Comments</h3>
                  <ul>
                    <% post.comments.forEach(comment => { %>
                        <li><%= comment %></li>
                    <% }); %>
                  </ul>
                </div>
            </div>
            <div class="post">
              <h2>Post ID: <%= 1 %></h2>
              <p>Author: <%= post.author %></p>
              <p>Content: <%= post.content %></p>
              <p>Likes: <%= post.likes %></p>
              <p>Shares: <%= post.shares %></p>
                <div class="comments">
                  <h3>Comments</h3>
                  <ul>
                    <% post.comments.forEach(comment => { %>
                        <li><%= comment %></li>
                    <% }); %>
                  </ul>
                </div>
            </div>
            <div class="post">
              <h2>Post ID: <%= post.ID %></h2>
              <p>Author: <%= post.author %></p>
              <p>Content: <%= post.content %></p>
              <p>Likes: <%= post.likes %></p>
              <p>Shares: <%= post.shares %></p>
                <div class="comments">
                  <h3>Comments</h3>
                  <ul>
                    <% post.comments.forEach(comment => { %>
                        <li><%= comment %></li>
                    <% }); %>
                  </ul>
                </div>
            </div>
         </div>
      </div>

      <div class="right-sidebar">
        
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      let socket = io();
      // everything else goes here

    </script>
</body>
</html>
