html, body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  height: 100%;
  transition: background-color 0.5s ease, color 0.5s ease;
  padding: 0;
}
:root, body{
  --light-color: #fff;
  --dark-color: #001;
  --border-shadow-color: #ddd;
  --primary-color: #83faec;
  --secondary-color: #5e9eff;
  --text-background-color: #f2f2f2;
  --background-color: #1d59fe;
  background: var(--light-color);
}

#container{
  min-height:100%;
}

body.dark-theme {
  --light-color: #001;
  --dark-color: #fff;
  --border-shadow-color: #222;
  --primary-color: #00afec;
  --secondary-color: #0000aa;
  --background-color: #161625;
  background: var(--background-color);
}

.navbar {
  overflow: hidden;
  background-color: var(--background-color);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  z-index: 9999;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.brand {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: var(--text-background-color);
  text-decoration: none;
  /* margin-left: 20px; */
  margin-right: 20px;
  transition: color 0.2s;
}

.brand, .right img:not(.notification) {
  color: var(--text-background-color);
  text-decoration: none;
  font-size: 30px;
  aspect-ratio: auto;
}

.left img {
  filter: invert(100%) contrast(200%);
  width: 40px;
  height: auto;
  margin-right: 10px;
  transition: transform 0.1s, width 0.1s;
}

body:not(.dark-theme) .left img:hover {
  filter: invert(100%) saturate(10000%);
}

body.dark-theme .left img {
  filter: invert(100%) contrast(200%) saturate(10000%);
}

.left, .right {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
}

.center input[type="text"] {
  width: 50%;
  padding: 10px;
  border:  2px var(--light-color) solid;
  border-radius: 12px;
  font-size: 15px;
  margin-right: 10px;
  background-color: var(--text-background-color);
}

.center input[type="text"]:focus {
  outline: var(--primary-color) auto 5px;;
}
.center img {
  filter: invert(100%);
  width: 40px;
  height: auto;
  aspect-ratio: auto;
  margin-right: 10px;
  transition: transform 0.3s, width 0.3s;
}

.right a {
  color: var(--text-background-color);
  text-decoration: none;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 25px;
}

.right a:hover, .brand:hover {
  color: var(--primary-color);
}

.right img:not(.notification) {
  width: 40px;
  filter: invert(100%) contrast(200%); 
  height: auto;
  margin-right: 20px;
  transition: transform 0.2s, width 0.2s;
}

.right img:hover:not(.notification), .left img:hover, .center img:hover {
  color: var(--primary-color);
  transform: scale(1.4);
}

.notification img {
  will-change: transform;
  width: 40px;
  height: auto;
  align-items: right;
  aspect-ratio: auto;
  transition: transform .2s, width .2s;
  margin-right: 20px;
  margin-left: 10px;
}
.notification img:hover {
  transform: scale(1.4);
  animation: shake-grow .7s 1;
}

@keyframes shake-grow {
  0% { transform: scale(1); }
  20% { transform: scale(1.4) rotate(10deg); }
  40% { transform: scale(1.4) rotate(-10deg); }
  60% { transform: scale(1.4) rotate(10deg); }
  80% { transform: scale(1.4) rotate(-10deg); }
  100% { transform: scale(1.4) rotate(0deg); }
}


.icon-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.icon-button:focus {
  outline: none;
}

/* Dropdown stuff */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: var(--background-color);
  color: var(--text-background-color);
  font-family: 'Raleway', sans-serif;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  margin-right: 10px;
  transition: background-color 0.2s;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--text-background-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 12px;
  z-index: 1;
}
.dropdown-content a {
  color: var(--secondary-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s;
}
.dropdown-content a:hover {
  background-color: var(--primary-color);
} 
.dropdown:hover .dropdown-content {
  display: block;
}

/* Post stuff */

.wrapper {
  display: flex;
  height: 150%;
}

.wrapper.dark-theme {
  background-color: #161625;
  display: flex;
  height: 100%;
}

.posts-container {
  box-sizing: border-box;
  max-width: 1200px;
  height: 0 auto;
  margin: 20px;
  padding: 20px;
}
#posts-container {
  visibility: hidden;

}
.post {
  border: 5px solid var(--secondary-color);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

/* Sectioned stuff */

.wrapper {
  display: flex;
  /* background-color: var(--background-color); */
}

.left-sidebar, .right-sidebar {
  width: 25%;
  color: var(--text-background-color);
  position: relative;
  flex-flow: column;
}

.middle-section {
  flex-grow: 1;
  position: relative;
  flex-shrink: 0;
}

.vertical-bar {
  position: absolute;
  top: 100%;
  bottom: 0%;
  width: 10px;
  background-color: var(--secondary-color);
}

.left-sidebar::before {
  right: 0;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15px;
  /* background: linear-gradient(to right, var(--primary-color), var(--text-background-color)); */
}
.right-sidebar::before {
  left: 0;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15px;
  /* background: linear-gradient(to left, var(--primary-color), var(--text-background-color)); */
}

.left-vertical-bar {
  left: 0;
  border-right: 2px solid var(--primary-color);
  position: absolute;
}
.right-vertical-bar {
  right: 0;
  border-left: 2px solid var(--primary-color);
  position: absolute;
  
}

/* Pop-up stuff */
.popup-content {
  background-color: #f2f2f2;
  color: inherit;
  height: 60%;
  margin: 10px;
  border: 10px;
  border-radius: 10px;
  color: black;
}

.popup-content form {
  margin: 10px;
  margin-bottom: 5px;
  border: 3px solid var(--secondary-color);
  border-radius: 5px;
}

.flex-container { 
  display: flex; 
  /* height:400px;  */
  flex-flow: column wrap; 
  /* background-color: green;  */
  align-content: flex-end; 
} 

.close {
  position: absolute;
  top: 60px;
  right: 20px;
}
.posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.posts-container img {
    width: 100%;
    height: 20px;
    border-radius: 5px;
}

.post {
    background-color: var(--light-color);
    border: 1px solid black;
    border-radius: 8px;
    width: 300px;
    padding: 15px;
    box-shadow: 0 0 10px var(--dark-color);
}

h2 {
    color: var(--dark-color);
    text-decoration: underline;
    font-style: bold;
}

p {
    color: var(--dark-color);
}

.likes, .shares, .comments {
    display: inline-block;
    margin-right: 20px;
    color: #777;
}

.comments a {
    text-decoration: none;
    color: #3498db;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

button {
  border: none;
  padding: 6px 10px;
  border-radius: 50px;

  font-weight: 600;
  background-color: white;

  /* Button is inline-block element by default, it need to have block display for margin: 0 auto; to work */
  margin: 0 auto;
  display: inline;

  /* Button is a clickable element, therefore it should have a pointer cursor */
  cursor: pointer;
}

/* Unliked button */
.like-button {
  background-image: url('like.svg');
}
/* Liked button */
.like-button.liked {
  background-image: url('liked.svg');
}

.like-button, .share-button, .comment-button {
  display: inline-flex;
  align-items: center;
}

/* invert button colors in dark mode */
.dark-mode .like-button img, .dark-mode .share-button img, .dark-mode .comment-button img{
  filter: invert(1);
}

.like-button, .share-button {
  margin-right: 5px;
}


