@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background: #f3f5f9;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #3877a1;
    padding: 30px 0;
}

.wrapper .sidebar h2{
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar u1 li{
    font-size: 22px;
    padding: 50px;
    border-bottom: 2px solid rgba(0,0,0,0.05);
    border-top: 2px solid rgba(225,225,225,0.05);
}


.wrapper .sidebar u1 li a{
    color: #bdb8d7;
    display: block;
}

.wrapper .sidebar u1 li a .fas{
    width: 25px;
}

.wrapper .sidebar u1 li:hover{
    background: #3d8fd1;
}

.wrapper .sidebar u1 li:hover a{
    color: #fff;
}

h1, h2, h3 {
  font-family: "Raleway", sans-serif;
  }
  
  .thread-container {
    display: flex;
    flex-direction: column;
    border: 0px solid black;
    padding: 10px;
    margin: 10px;
    max-width: 400px;
    justify-content: space-between;
  }
  
  .thread-card {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 20px;
    border: 0px;
    border-radius: 20px;
    margin-bottom: 15px;
  }
  
  .thread-info {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Style div elements that have class equal to tag */
  .tag {
    padding: 4px 8px;
    border: 1px solid #e5eaed;
    max-width: 30px;
  
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #788697;
  }
  
  /* Style div elements that have class equal to name */
  .name {
    font-size: 24px;
    font-weight: 600;
  
    margin-top: 16px;
  }
  
  /* Style p element */
  p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
  }
  
  /* Style button element */
  button {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
  
    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;
  
    /* Button is inline-block element by default, it need to have block display for margin: 0 auto; to work */
    margin: 0 auto;
    display: block;
  
    /* Button is a clickable element, therefore it should have a pointer cursor */
    cursor: pointer;
  }
  
  .card__details {
    /* Add space around the details */
    padding: 16px 8px 8px 8px;
  }
  /* Add more CSS styles as needed to customize the appearance */
  .snippit {
    background-color: white;
    color: black;
    border: 1px solid #ddd; 
    border-radius: 10px; 
    padding: 10px; 
    margin-bottom: 10px; 
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.4; 
  }
  
  
  /* onboarding. */
  @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap");
  
  @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap");
  
  :root {
    --bodybg: #507fff;
    --primary-color: #3b1cc3;
    --grey: #d6d6d6;
    --placeholder: #969696;
    --white: #fff;
    --text: #333;
    --slider-bg: #eff3ff;
    --login-cta-hover: #1f0098;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: var(--bodybg);
    font-family: "Raleway", sans-serif;
    height: 100vh;
    display: flex;
  }
  
  .login-container {
    display: flex;
    max-width: 1200px;
    background: var(--white);
    margin: auto;
    width: 60%;
    height: 50%;
    min-width: 320px;
    align-items: center;
    border-radius: 25px; 
    box-shadow: 0 3px 20px rgb(0 0 0 / 0.2);
  }
  
  .login-container .logo svg {
    height: 40px;
    width: 40px;
    fill: var(--primary-color);
  }
  
  .login-container .login-form {
    width: 50%;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  .login-container .signup-form {
    width: 50%;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  
  .login-container .login-form .login-form-inner {
    max-width: 380px;
    width: 95%;
  }
  
  .login-container .login-form .signUp-form-inner {
    max-width: 380px;
    width: 95%;
  }
  
  
  .login-container .login-form .google-login-button .google-icon svg {
    height: 20px;
    display: flex;
    margin-right: 10px;
  }
  
  .login-container .login-form .google-login-button {
    color: var(--text);
    border: 1px solid var(--grey);
    margin: 40px 0 20px;
  }
  
  .login-container .login-form .sign-in-seperator {
    text-align: center;
    color: var(--placeholder);
    position: relative;
    margin: 30px 0 20px;
  }
  
  .login-container .login-form .sign-in-seperator span {
    background: var(--white);
    z-index: 1;
    position: relative;
    padding: 0 10px;
    font-size: 14px;
  }
  
  .login-container .login-form .sign-in-seperator:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--grey);
    left: 0;
    top: 50%;
    z-index: 0;
  }
  
  .login-container .login-form .login-form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .login-container .login-form .login-form-group label {
    font-size: 14px;
    font-weight: 500;
    color: var(--text);
    margin-bottom: 10px;
  }
  
  .login-container .login-form .login-form-group input {
    padding: 13px 20px;
    box-sizing: border-box;
    border: 1px solid var(--grey);
    border-radius: 50px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: var(--text);
    transition: linear 0.2s;
  }
  
  .login-container .login-form .login-form-group input:focus {
    outline: none;
    border: 1px solid var(--primary-color);
  }
  
  .login-container
    .login-form
    .login-form-group
    input::-webkit-input-placeholder {
    color: var(--placeholder);
    font-weight: 300;
    font-size: 14px;
  }
  
  .login-container .login-form .login-form-group.single-row {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
  }
  
  /* custom checkbox */
  .login-container .login-form .custom-check input[type="checkbox"] {
    height: 23px;
    width: 23px;
    margin: 0;
    padding: 0;
    opacity: 1;
    appearance: none;
    border: 2px solid var(--primary-color);
    border-radius: 3px;
    background: var(--white);
    position: relative;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .login-container .login-form .custom-check input[type="checkbox"]:checked {
    border: 2px solid var(--primary-color);
    background: var(--primary-color);
  }
  
  .login-container
    .login-form
    .custom-check
    input[type="checkbox"]:checked:before,
  .login-container
    .login-form
    .custom-check
    input[type="checkbox"]:checked:after {
    content: "";
    position: absolute;
    height: 2px;
    background: var(--white);
  }
  
  .login-container
    .login-form
    .custom-check
    input[type="checkbox"]:checked:before {
    width: 8px;
    top: 11px;
    left: 2px;
    transform: rotate(44deg);
  }
  
  .login-container
    .login-form
    .custom-check
    input[type="checkbox"]:checked:after {
    width: 14px;
    top: 8px;
    left: 5px;
    transform: rotate(-55deg);
  }
  
  .login-container .login-form .custom-check input[type="checkbox"]:focus {
    outline: none;
  }
  
  .login-container .login-form .custom-check {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-container .login-form .custom-check label {
    margin: 0;
    color: var(--text);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .login-container .login-form .link {
    color: var(--primary-color);
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;
  }
  
  .login-container .login-form .link:hover {
    text-decoration: underline;
  }
  
  .login-container .login-form .login-cta {
    color: var(--white);
    text-decoration: none;
    border: 1px solid var(--primary-color);
    margin: 25px 0 35px;
    background: var(--primary-color);
  }
  
  .login-container .login-form .login-cta:hover {
    background: var(--login-cta-hover);
  }
  
  .login-container .onboarding {
    flex: 1;
    background: var(--slider-bg);
    display: none;
    width: 50%;
  }
  
  .login-container .login-form .login-form-group label .required-star {
    color: var(--primary-color);
    font-size: 18px;
    line-height: 10px;
  }
  
  .login-container .rounded-button {
    display: flex;
    width: 100%;
    text-decoration: none;
    border-radius: 50px;
    padding: 13px 20px;
    box-sizing: border-box;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    transition: linear 0.2s;
  }
  
  .login-container .rounded-button:hover {
    box-shadow: 0px 0px 4px 0px var(--grey);
  }
  
  .login-container .body-text {
    font-size: 14px;
    font-weight: 500;
    color: var(--text);
  }
  
  .login-container .onboarding .swiper-pagination-bullet-active {
    background-color: var(--primary-color);
  }
  
  .login-container .onboarding .swiper-slide {
    flex-direction: column;
    display: flex;
  }
  
  
  
  
  .login-container .login-form .login-form-inner h1 {
    margin-bottom: 20px;
    margin-top: 10px;
  }

